" ==========================================================================
" Basic setup
set relativenumber
set scrolloff=8
set scroll=7
set incsearch
set ignorecase
set smartcase
set nowrapscan
" set clipboard+=unnamedplus
let mapleader=","

" ==========================================================================
" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'
Plug 'justinmk/vim-sneak'
Plug 'tpope/vim-surround'
Plug 'chrisbra/matchit'

Plug 'terryma/vim-multiple-cursors'
" Remap multiple-cursors shortcuts to match terryma/vim-multiple-cursors
nmap <C-n> <Plug>NextWholeOccurrence
xmap <C-n> <Plug>NextWholeOccurrence
nmap g<C-n> <Plug>NextOccurrence
xmap g<C-n> <Plug>NextOccurrence
xmap <C-x> <Plug>SkipOccurrence
xmap <C-p> <Plug>RemoveOccurrence
" Note that the default <A-n> and g<A-n> shortcuts don't work on Mac due to dead keys.
" <A-n> is used to enter accented text e.g. ñ
" Feel free to pick your own mappings that are not affected. I like to use <leader>
nmap <leader><C-n> <Plug>AllWholeOccurrences
xmap <leader><C-n> <Plug>AllWholeOccurrences
nmap <leader>g<C-n> <Plug>AllOccurrences
xmap <leader>g<C-n> <Plug>AllOccurrences

" ext plug
set quickscope
set easymotion
map <Leader> <Plug>(easymotion-prefix)

" Set automatic alter input
" set kee-english-in-normal " 开启输入法自动切换功能
" set kee-english-in-normal-and-restore-in-insert " 回到insert模式时恢复输入法
" set nokee-english-in-normal-and-restore-in-insert " 保留输入法自动切换功能，但是回到insert模式不恢复输入法
" set nokee-english-in-normal " 关闭输入法自动切换功能

" ==========================================================================
" Map key
"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)

map Q gq
